html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#pla-canvas {
  cursor: crosshair;
}
footer.pla-footer {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
}
footer.pla-footer .tray {
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
footer.pla-footer .tray .tray-items {
  overflow-y: hidden;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
footer.pla-footer .tray .tray-items .tray-list {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.01, 0.64, 0.43, 2.12) 0s;
}
footer.pla-footer .tray .tray-items .tray-list:hover {
  transform: scale(1.2);
}
footer.pla-footer .tray #tray-fullscreen {
  float: right;
  width: 20px;
  height: 100%;
  margin-left: 5px;
  margin-top: 5px;
}
.tray-list-block img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.tray-list-tool {
  background: skyblue;
  border-radius: 40px;
  text-align: center;
  line-height: 40px;
}
.tool-active {
  background: linear-gradient(red, orange, yellow, limegreen, skyblue, royalblue, rebeccapurple);
}
.tool-btn {
  background-color: yellow;
  color: black;
}
.loading {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  opacity: 0.8;
}
.tray-active {
  border: 1px solid black;
}
.pla-inspector {
  position: fixed;
  left: 100%;
  top: 5px;
  bottom: 55px;
  height: auto;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 5px 5px 5px 10px;
  box-sizing: border-box;
}
.pla-inspector #ins-close {
  float: right;
}
.pla-inspector .ins-article {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.pla-inspector .ins-article h1 {
  font-size: 16px;
}
.pla-inspector .ins-article .ins-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.pla-inspector .ins-article-active {
  visibility: visible;
}
.pla-inspector #ins-io .ins-content textarea#pla-io {
  margin-bottom: 5px;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  flex: 1;
}
.pla-inspector #ins-conv-old-file .ins-content textarea {
  flex: 1;
}
.pla-inspector #ins-header-footer .ins-content textarea {
  flex: 1;
}
input[type="number"] {
  text-align: right;
}
.pla-btn {
  border: none;
  background-color: white;
  border-radius: 5px;
}
.pla-btngroup button {
  margin-right: 5px;
}
.ta-no-resize {
  resize: none;
}
