doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,inital-scale=1.0")
    title Planet
    link(rel="stylesheet", href="bower_components/balloon/balloon.css")
    link(rel="stylesheet", href="lib/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", href="css/ui.css")
    script(type='text/javascript', src='js/wpack.js')
  body
    .loading
    canvas#pla-canvas(width='300', height='200')
    .pla-inspector
      button#ins-close.pla-btn &times;
      .ins-article#ins-io
        h1 Import / Export
        .ins-content
          select
            option(value="csv") csv
            option(value="json") json
            option(value="jsPla") jsWithPlaLib
            option(value="yaml") yaml
            option(value="in:auto") Auto (Import Only)
          textarea#pla-io
          .pla-btngroup
            button.pla-btn.bl.bl-top#io-export(data-bl="Export"): i.fa.fa-upload
            button.pla-btn.bl.bl-top#io-import(data-bl="Import"): i.fa.fa-download
      .ins-article#ins-inspector
        h1 Inspector
        .ins-content
          ul
            li: button.pla-btn.ins-show-btn(data-ins="stage-effect") Stage Effect
            li: button.pla-btn.ins-show-btn(data-ins="io") Import / Export
            li: button.pla-btn.ins-show-btn(data-ins="header-footer") Header / Footer
            li: button.pla-btn.ins-show-btn(data-ins="conv-old-file") Convert old file
            li: button.pla-btn.ins-show-btn(data-ins="preferences") Editor Preferences
      .ins-article#ins-conv-old-file
        h1 Convert old file
        .ins-content
          span Old:
          br
          textarea#conv-old.ta-no-resize
          span New:
          br
          textarea#conv-new.ta-no-resize(readonly)
          div: button.pla-btn.bl.bl-top#conv(data-bl="convert"): i.fa.fa-exchange
      .ins-article#ins-header-footer
        h1 Header / Footer
        .ins-content
          span Header:
          br
          textarea.io-hf#io-header.ta-no-resize
          span Footer:
          br
          textarea.io-hf#io-footer.ta-no-resize
      .ins-article#ins-stage-effect
        h1 Stage Effect
        .ins-content
          ul
            li
              span Skybox:
              select.pack-select#stg-skybox(data-items="skyboxes", data-change="changeSkybox")
      .ins-article#ins-preferences
        h1 Editor Preferences
        .ins-content
    footer.pla-footer
      .tray
        button.pla-btn#tray-fullscreen ↑
        .tray-items
          .tray-list.tray-list-tool.tool-active(data-toolname='pencil')
            i.fa.fa-pencil
          .tray-list.tray-list-tool(data-toolname='brush')
            i.fa.fa-paint-brush
          .tray-list.tray-list-tool(data-toolname='erase')
            i.fa.fa-eraser
          .tray-list.tray-list-tool(data-toolname='hand')
            i.fa.fa-hand-paper-o
          .tray-list.tray-list-tool(data-toolname='choice')
            i.fa.fa-eyedropper
          .tray-list.tray-list-tool(data-toolname='edit')
            i.fa.fa-list
          .tray-list.tray-list-tool.tool-btn(data-toolname='io')
            i.fa.fa-floppy-o
          .tray-list.tray-list-tool.tool-btn(data-toolname='setting')
            i.fa.fa-cog